html {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

body {
	background-image: url(../images/prism.png);
	background-repeat: repeat;
}

.brand-logo {
	margin-left: 15px;
	margin-right: 15px;
}

.landing-image {
	box-shadow: 0px 0px 1px 1px #FFFFFF;
}

.jumbotron-container {
	position: relative;
}

.text-block-large {
	position: absolute;
	top: 40%;
	right: 10%;
}

.text-block-medium {
	position: absolute;
	top: 40%;
	right: 10%;
}

.text-block-small {
	position: absolute;
	top: 40%;
	right: 10%;
}

a.active {
	background-color: rgba(0,0,0,0.1);
}