<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" rel="stylesheet">
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<script src="<%= webpackConfig.output.filename %>"></script>
	</head>

	<body>
		<div class="navbar-fixed">
			<nav id="navbar" class="blue lighten-1">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo hide-on-med-and-down"><i class="material-icons">code</i></a>
					<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#skills">SKILLS</a></li>                        
						<li><a href="#projects">PERSONAL PROJECTS</a></li>
						<li><a href="#experience">EXPERIENCE</a></li>
						<li><a href="#education">EDUCATION</a></li>
						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<ul id="nav-mobile" class="sidenav">
			<li>
				<div class="user-view blue lighten-1">
					<a href="#user"><img class="circle" src="<%=require('./images/portre.jpg')%>"></a>
					<a href="#name"><span class="name white-text">David Teoran</span></a>
					<a href="#email"><span class="email white-text">davidteoran@gmail.com</span></a>
				</div>
			</li>
			<li><a class="nav-link waves-effect sidenav-close" href="#about"><i class="material-icons left">account_box</i>ABOUT</a></li>
			<li><a class="nav-link waves-effect sidenav-close" href="#skills"><i class="material-icons left">computer</i>SKILLS</a></li>
			<li><a class="nav-link waves-effect sidenav-close" href="#projects"><i class="material-icons left">lightbulb_outlined</i>PERSONAL PROJECTS</a></li>
			<li><a class="nav-link waves-effect sidenav-close" href="#experience"><i class="material-icons left">work</i>EXPERIENCE</a></li>
			<li><a class="nav-link waves-effect sidenav-close" href="#education"><i class="material-icons left">school</i>EDUCATION</a></li>
			<li><a class="nav-link waves-effect sidenav-close" href="#contact"><i class="material-icons left">alternate_email</i>CONTACT</a></li>
		</ul>
		<div id="about" class="jumbotron-container scrollspy">
			<img class="responsive-img landing-image" src="<%=require('./images/landing-image.jpg')%>" alt="desk">
			<div class="text-block-large center-align hide-on-med-and-down">
					<h1>Hello, I'm David</h1>
					<h4>Full-Stack Developer</h4>
			</div>
			<div class="text-block-medium center-align hide-on-small-only hide-on-large-only">
					<h1>Hello, I'm David</h1>
					<h4>Full-Stack Developer</h4>
			</div>
			<div class="text-block-small center-align hide-on-med-and-up">
					<h5>Hello, I'm David</h5>
					<h6>Full-Stack Developer</h6>
			</div>
		</div>
		<main>
			<div id="skills" class="container scrollspy">
				<div class="row">
					<div class="col s12">
						<h4 class="white-text">SKILLS</h4>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<h5 class="white-text">LANGUAGES</h5>
						<div class="chip">
							<i class="devicon-javascript-plain"></i> JavaScript
						</div>
						<div class="chip">
							<i class="devicon-html5-plain"></i> HTML
						</div>
						<div class="chip">
							<i class="devicon-css3-plain"></i> CSS
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<h5 class="white-text">FRAMEWORKS & TOOLS</h5>
						<div class="chip">
							<i class="devicon-jquery-plain"></i> jquery
						</div>
						<div class="chip">
							<i class="devicon-angularjs-plain"></i> angular.js
						</div>
						<div class="chip">
							<i class="devicon-react-plain"></i> react
						</div>
						<div class="chip">
							<i class="devicon-nodejs-plain"></i> node.js
						</div>
						<div class="chip">
							<i class="devicon-git-plain"></i> git
						</div>
						<div class="chip">
							>_ bash
						</div>
						<div class="chip">
							<i class="devicon-bower-plain"></i> bower
						</div>
						<div class="chip">
							<i class="devicon-webpack-plain"></i> webpack
						</div>
						<div class="chip">
							<i class="devicon-grunt-plain"></i> grunt
						</div>
						<div class="chip">
							<i class="devicon-express-original"></i> express.js
						</div>
						<div class="chip">
							<i class="devicon-bootstrap-plain"></i> bootstrap
						</div>
						<div class="chip">
							<i class="devicon-sass-plain"></i> sass
						</div>
						<div class="chip">
							<i class="devicon-google-plain"></i> material design
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<h5 class="white-text">PLATFORM DEVELOPMENT & ADMINISTRATION</h5>
						<div class="chip">
							<i class="devicon-bitbucket-plain"></i> Bitbucket
						</div>
						<div class="chip">
							<i class="devicon-gitlab-plain"></i> GitLab
						</div>
						<div class="chip">
							<i class="devicon-confluence-plain"></i> Atlassian
						</div>
						<div class="chip">
							<i class="devicon-heroku-original"></i> Heroku
						</div>
						<div class="chip">
							<i class="devicon-ssh-plain"></i> ssh
						</div>
						<div class="chip">
							<i class="devicon-slack-plain"></i> slack
						</div>
						<div class="chip">
							<i class="devicon-apache-plain"></i> Apache CouchDB
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<h5 class="white-text">ARCHITECTURE & CONTAINERS</h5>
						<div class="chip">
							>_ RESTful APIs
						</div>
						<div class="chip">
							<i class="devicon-docker-plain"></i> Docker
						</div>
						<div class="chip">
							<i class="devicon-nginx-plain"></i> NGINX
						</div>
						<div class="chip">
							<i class="devicon-linux-plain"></i> Linux
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<h5 class="white-text">OTHER</h5>
						<div class="chip">
							<i class="devicon-photoshop-plain"></i> Photoshop
						</div>
						<div class="chip">
							QGIS
						</div>
					</div>
				</div>
			</div>
			<div id="projects" class="container scrollspy">
				<div class="row">
					<div class="col s12">
						<h4 class="white-text">PERSONAL PROJECTS</h4>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m4">
						<div class="card">
							<div class="card-image">
								<img src="<%=require('./images/projects/w-elements.png')%>">
								<a class="btn-floating halfway-fab waves-effect waves-light hoverable light-green" href="https://w-elements.herokuapp.com/" rel="noopener noreferrer" target="_blank"><i class="material-icons">open_in_browser</i></a>
							</div>
							<div class="card-content">
								<span class="card-title project-tile">Weather Elements</span>
								<p>Progressive web application created with React and served with Express.js.</p>
							</div>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="card">
							<div class="card-image">
								<img src="<%=require('./images/projects/markdown-previewer.png')%>">
								<a class="btn-floating halfway-fab waves-effect waves-light hoverable light-green" href="https://dt-freecodecamp-projects.gitlab.io/markdown-previewer/"  rel="noopener noreferrer" target="_blank"><i class="material-icons">open_in_browser</i></a>
							</div>
							<div class="card-content">
								<span class="card-title project-tile">Markdown Previewer</span>
								<p>freeCodeCamp front-end libraries project.</p>
							</div>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="card">
							<div class="card-image">
								<img src="<%=require('./images/projects/javascript-calculator.png')%>">
								<a class="btn-floating halfway-fab waves-effect waves-light hoverable light-green" href="https://dt-freecodecamp-projects.gitlab.io/javascript-calculator/"  rel="noopener noreferrer" target="_blank"><i class="material-icons">open_in_browser</i></a>
							</div>
							<div class="card-content">
								<span class="card-title project-tile">Javascript Calculator</span>
								<p>freeCodeCamp front-end libraries project.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m4">
						<div class="card">
							<div class="card-image">
								<img src="<%=require('./images/projects/technical-documentation.png')%>">
								<a class="btn-floating halfway-fab waves-effect waves-light hoverable light-green" href="https://dt-freecodecamp-projects.gitlab.io/technical-documentation/"  rel="noopener noreferrer" target="_blank"><i class="material-icons">open_in_browser</i></a>
							</div>
							<div class="card-content">
								<span class="card-title project-tile">Technical Documentation</span>
								<p>freeCodeCamp responsive web design project.</p>
							</div>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="card">
							<div class="card-image">
								<img src="<%=require('./images/projects/product-landing-page.png')%>">
								<a class="btn-floating halfway-fab waves-effect waves-light hoverable light-green" href="https://dt-freecodecamp-projects.gitlab.io/product-landing-page/"  rel="noopener noreferrer" target="_blank"><i class="material-icons">open_in_browser</i></a>
							</div>
							<div class="card-content">
								<span class="card-title project-tile">Product Landing Page</span>
								<p>freeCodeCamp responsive web design project.</p>
							</div>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="card">
							<div class="card-image">
								<img src="<%=require('./images/projects/survey-form.png')%>">
								<a class="btn-floating halfway-fab waves-effect waves-light hoverable light-green" href="https://dt-freecodecamp-projects.gitlab.io/survey-form/"  rel="noopener noreferrer" target="_blank"><i class="material-icons">open_in_browser</i></a>
							</div>
							<div class="card-content">
								<span class="card-title project-tile">Survey Form</span>
								<p>freeCodeCamp responsive web design project.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m4">
						<div class="card">
							<div class="card-image">
								<img src="<%=require('./images/projects/tribute-page.png')%>">
								<a class="btn-floating halfway-fab waves-effect waves-light hoverable light-green" href="https://dt-freecodecamp-projects.gitlab.io/tribute-page/"  rel="noopener noreferrer" target="_blank"><i class="material-icons">open_in_browser</i></a>
							</div>
							<div class="card-content">
								<span class="card-title project-tile">Tribute Page</span>
								<p>freeCodeCamp responsive web design project.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="contact" class="container scrollspy">
				<div class="row">
					<div class="col s12">
						<h4 class="white-text">CONTACT</h4>
						<hr>
					</div>
				</div>
				<form action="https://formspree.io/davidteoran@gmail.com" method="POST">
					<div class="row">
						<div class="input-field col s12 m6">
							<i class="white-text material-icons prefix">account_circle</i>
							<input id="name" name="name" type="text" class="validate white-text" required>
							<label for="name" class="white-text">Name</label>
						</div>
						<div class="input-field col s12 m6">
							<i class="white-text material-icons prefix">email</i>
							<input id="email" name="email" type="email" class="validate white-text" required>
							<label for="email" class="white-text">Email</label>
						</div>
						<div class="input-field col s12">
							<i class="white-text material-icons prefix">mode_edit</i>
							<textarea id="message" name="message" class="materialize-textarea validate white-text" required></textarea>
							<label for="message" class="white-text">Message</label>
						</div>
					</div>
					<div class="center-align">
						<button class="btn waves-effect waves-light light-green" type="submit" name="action">Send
							<i class="material-icons right">send</i>
						</button>
					</div>
					<br>
				</form>
				<hr>
				<div class="row">
					<div class="col s12 center-align">
						<a href="https://gitlab.com/users/davidteoran/groups" rel="noopener noreferrer" target="_blank">
							<div class="chip">
								<img src="<%=require('./images/logos/gitlab.jpg')%>" alt="GitLab logo">
								GitLab
							</div>
						</a>
						<a href="https://www.freecodecamp.org/davidteoran" id="profile-link" rel="noopener noreferrer" target="_blank">
							<div class="chip">
								<img src="<%=require('./images/logos/freeCodeCamp.jpg')%>" alt="freeCodeCamp logo">
								freeCodeCamp
							</div>
						</a>
						<a href="https://hu.linkedin.com/in/davidteoran" rel="noopener noreferrer" target="_blank">
							<div class="chip">
								<img src="<%=require('./images/logos/linkedin.png')%>" alt="LinkedIn logo">
								LinkedIn
							</div>
						</a>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>